{% extends 'dashboard.html' %}
{% block title %} Create Post {% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Create Post</h1>
    {% include 'message.html' %}
    <form action="{{url_for('create_post')}}" method="post" enctype="multipart/form-data">
        {% from 'form_helper.html' import render_field %}
        {{form.hidden_tag()}}
        <div>
            {{render_field(form.title,class='form-control')}}
        </div>
        <div>
            {{render_field(form.content,class='form-control')}}
        </div>
        <div>
            <label for="category"><h5>Add a category</h5></label><br>
                <select name="category" id="category" class="form-control" required>
                    <option value="">Add a category</option>
                    {% for category in categories %}
                    <option value="{{category.id}}">{{category.name}}</option>
                    {% endfor %}
                </select>
        </div>
        <div>
            {{render_field(form.image,class='form-control')}}
        </div>
        <div>
            {{form.submit(class='btn btn-primary')}}
        </div>
    </form>
    {{ckeditor.load()}}
    {{ckeditor.config(name='content')}}
{% endblock %}