{% extends 'dashboard.html' %}
{% block title %} View Department {% endblock %}

{% block content %}

<div class="container mt-4">
    <div class="">
      <div class="text-center">
        <h2 class="text-danger">View Department</h2>
      </div>
        <table class="table">
            {% include 'message.html' %}
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            {% for depart in depart %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{depart.name}}</td>
                <td>
                    <a class="btn btn-primary" href="{{url_for('edit_department',id=depart.id)}}">Edit</a>
                </td>
                <td><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal-{{depart.id}}">Delete</button></td>
            </tr>
            <div class="modal fade" id="exampleModal-{{depart.id}}" tabindex="-1" aria-labelledby="exampleModalLabel-{{depart.id}}" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">{{depart.name}}</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <p>Are you sure you want to Delete this Department</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <form action="{{url_for('delete_department',id=depart.id)}}" method="post">
                        <button type="submit" class="btn btn-danger">Delete</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
        </table>
    </div>
</div>



{% endblock %}